
<%= render "devise/shared/navbar" %>
<script src="app/assets/javascripts/responsive_waterfall.js"></script>


<div class="title">
  <h2>MY STYLE</h2>
</div>
<%= link_to "BACK", :back, class: "filter-btn", style: "margin:20px;width:90px" %>

<!-- PROFILE-MENU -->

<!--   <div class="user-panel">
    <div class="inner-panel" style="text-align: center;">
      <a class="form-btn" href="#popup1"> Edit Profile</a>
    </div>
  </div>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
 -->
<!-- PRODUCT WISHLIST -->
<div class="wf-container">
  <h4 class="page-title">Wishlist</h4>
</div>
<div class="main-carousel">
  <div class="card">
    <img src="https://www.marahoffman.com/world-of/wp-content/uploads/2016/06/SP168-956x709.jpg" alt="first">
  </div>
  <div class="card">
    <img src="https://www.marahoffman.com/world-of/wp-content/uploads/2015/11/21.jpg" alt="second">
  </div>
  <div class="card">
    <img src="https://www.marahoffman.com/world-of/wp-content/uploads/2016/06/SP166.jpg" alt="third">
  </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<br><br>
<!-- BRANDS LIKED -->
<div class="wf-container">
  <div class="page-title">
    <h4>My Brands</h4>
  </div>
    <% if current_user.liked_brands.empty? %>
      <h6>No liked brands!</h6>
    <% else %>
      <% current_user.liked_brands.each do |brand| %>
        <div class="wf-box">
          <% if brand.brand_images.second.nil? %>
          <% else %>
            <%= cl_image_tag brand.brand_images.second.url, style: "border-top-left-radius:20px;border-top-right-radius:20px;" %>
            <div class="content">
              <h3><%= link_to brand.name, brand_path(brand) %>
              <h5><%= brand.country %></h5>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>

<!-- POP-UP EDIT FORM -->


<!-- CAROUSEL JS -->
<script type="text/javascript">
// external js: flickity.pkgd.js
var carousel = document.querySelector('.main-carousel');
var flkty = new Flickity( carousel, {
  imagesLoaded: true,
  percentPosition: false,
  freeScroll: true,
  contain: true,
  // disable previous & next buttons and dots
  prevNextButtons: false,
  pageDots: false,
  autoPlay: true
});

var imgs = carousel.querySelectorAll('.card img');
// get transform property
var docStyle = document.documentElement.style;
var transformProp = typeof docStyle.transform == 'string' ?
  'transform' : 'WebkitTransform';

flkty.on( 'scroll', function() {
  flkty.slides.forEach( function( slide, i ) {
    var img = imgs[i];
    var x = ( slide.target + flkty.x ) * -1/3;
    img.style[ transformProp ] = 'translateX(' + x  + 'px)';
  });
});
</script>
