
<script src="app/assets/javascripts/responsive_waterfall.js"></script>

<style>
  body {
    overflow-x: hidden !important;
  }
</style>

<div class="title" style="padding-top:30px">
  <h2>MY STYLE</h2>
</div>
<!--  <%= link_to "BACK", :back, class: "filter-btn", style: "margin:20px;width:90px" %> -->

<!-- PRODUCT WISHLIST -->
<h4 class="page-title" style="text-align:center;">Wishlist</h4>
<div class="wf-container">
  <div class="collapse-nav">
    <%= render "devise/shared/navbar" %>
  </div>
  <div class="main-carousel">
    <% if current_user.liked_products.nil? %>
      <p><h6>No liked products!</h6></p>
      <% else %>
       <% current_user.liked_products.each do |product| %>
          <% if product.image_url.nil? %>
            <p><h3>No Image Here, Sorry!</h3></p>
            <% else %>
              <div class="card" style="background:#F2EFEB">
               <%= cl_image_tag product.image_url, style: "padding-bottom:15px" %>
                <div class="Wishlist-content" style="padding:5px ">
                  <h6 style="font-weight:700" ><%= product.name %></h6>
                  <h6><%= link_to "Buy", product.url, target: "blank", class: "black-white-link"%></h6>
                  <h6><%= product.brand.name %></h6>
                  <h6>$<%= product.price %></h6>
                </div>
              </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<br><br>
<!-- BRANDS LIKED -->
<div class="wf-container">
  <div class="page-title">
    <h4>My Brands</h4>

    <% if current_user.liked_brand_images.empty? %>
      <br><h6 style="text-align: center">No liked brands!</h6>
  </div>
    <% else %>
      <% brand_ids = [] %>
      <% current_user.liked_brand_images.each do |image| %>
        <% if brand_ids.include?(image.brand_id) %>
        <% else %>
          <% brand_ids << image.brand_id %>
          <div class="wf-box">
            <% bimages = current_user.liked_brand_images.where("brand_id = #{image.brand_id}") %>
            <% bimages.each do |bimage| %>
              <%= cl_image_tag bimage.url, style: "border-top-left-radius:20px;border-top-right-radius:20px;"%>
            <% end %>
            <div class="content" style="text-align:center;align-items:center;">
              <h3><%= link_to image.brand.name, brand_path(image.brand_id), style:"color:black;"%></h3>
              <h5><%= image.brand.country %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>







<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<!-- POP-UP EDIT FORM -->


<!-- CAROUSEL JS -->
<script type="text/javascript">
// external js: flickity.pkgd.js
var carousel = document.querySelector('.main-carousel');
var flkty = new Flickity( carousel, {
  imagesLoaded: true,
  percentPosition: false,
  freeScroll: true,
  contain: true,
  // disable previous & next buttons and dots
  prevNextButtons: false,
  pageDots: false,
  autoPlay: true
});

var imgs = carousel.querySelectorAll('.card');
// get transform property
var docStyle = document.documentElement.style;
var transformProp = typeof docStyle.transform == 'string' ?
  'transform' : 'WebkitTransform';

flkty.on( 'scroll', function() {
  flkty.slides.forEach( function( slide, i ) {
    var img = imgs[i];
    var x = ( slide.target + flkty.x ) * -1/100;
    img.style[ transformProp ] = 'translateX(' + x  + 'px)';
  });
});
</script>

