
<!-- icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--   <style>

    #myBtn {
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 40px; /* Place the button at the bottom of the page */
      right: 60px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: red; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 15px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
    }

    #myBtn:hover {
      background-color: #555; /* Add a dark-grey background on hover */
    }
  </style>
 -->
<!-- Navbar -->
<%= render "/devise/shared/navbar" %>
<!-- TITLE -->
<body>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>

<!--   <a id="myBtn" onclick="topFunction()" href="/" title="Discover">🌎</a> -->
  <div class="container">
    <div class="page-title" style="text-align:center">
        <h2>FROM BRANDS TO PRODUCTS</h2>
        <h5>See the brands you have selected and some products you can buy below</h5>
    </div>

<!--   <div class="country-btn">
    <%= link_to "BACK", :back, class: "filter-btn" %>
  </div> -->

<!-- PRODUCT CARDS -->
    <% @brands.each do |brand| %>
    <h3 class="brand-name"><%= brand.name %></h3>
      <div class="brand-card">
        <div class="brand-flex">
          <div class="brand-text">
            <h6><%= brand.description %></h6>
            <h6><%= brand.country %></h6>
          </div>

          <div class="brand-images">
            <% brand.brand_images.each do |br_image| %>
                <%= cl_image_tag br_image.url %>
            <% end %>
          </div>
        </div>

        <div class="product-images" >
          <% brand.products.each do |product| %>
            <% if brand.products.empty? %>
              <h6>Oops you haven't liked any brand images yet!</h6>
            <% else %>
            <%= cl_image_tag product.image_url, style: "border-radius:20px;"%>
            <div class="box">
              <div class="heart aos-init aos-animate">
                <div class="wrapper">
                  <%= link_to product_path(product), method: :patch, class: "like-button" do%>
                    <i class="mdc-icon-button material-icons is-liked bouncy">favorite</i>
                    <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                    <span class="like-overlay"></span>
                  <% end %>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>

<!-- RECOMMENDED PRODUCTS -->
  <% if @recommendations.empty? %>
  <% else %>
    <div class="container">
      <div class="page-title" style="text-align:center">
        <div>
          <h5>Recommended Products</h5>
        </div>
      </div>

      <div class="product-card">
        <% @recommendations.each do |product| %>
          <div class="box">
            <div class="heart aos-init aos-animate" data-aos="fade-right">
              <div class="wrapper">
                <%= link_to product_path(product), method: :patch, class: "like-button" do %>
                  <i class="mdc-icon-button material-icons is-liked bouncy">favorite</i>
                  <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                  <span class="like-overlay"></span>
                <% end %>
              </div>
            </div>
            <%= link_to "Buy", product.url, target: "blank", class: "buy-link"%>
            <%= cl_image_tag product.image_url, style: "border-radius:20px;"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){

    $('.like-button').click(function(){
        $(this).toggleClass('is-active');
    })
})
</script>
<!--
<script src="app/assets/javascripts/responsive_waterfall.js"></script>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script> -->

  <!-- side bottom btn -->
<!--   <script>
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

  </script> -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.fixed-action-btn');
       var instances = M.FloatingActionButton.init(elems);
     });
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
    });
  </script>

</div>
</body>

