
<!-- icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

<%= render "/devise/shared/navbar" %>
<!-- TITLE -->
<body>

  <div class="wf-container">
    <div class="page-title" style="text-align:center">
      <div>
        <h2>PICK FOR YOU</h2>
        <h4><%= current_user.email %></h4>
        <h5>Inspirations For Your Next Outfit</h5>
      </div>
    </div>

<!--   <div class="country-btn">
    <%= link_to "BACK", :back, class: "filter-btn" %>
  </div> -->

<!-- PRODUCT CARDS -->
    <div class="product-card">
      <% @products.first.each do |product| %>
        <% if @products.empty? %>
          <h6>Oops you haven't liked any brand images yet!</h6>
        <% else %>
          <div class="wf-box" data-aos="fade-right">
            <div class="heart aos-init aos-animate" data-aos="fade-right">
              <div class="wrapper">
                <%= link_to product_path(product), method: :patch, class: "like-button" do%>
                  <i class="mdc-icon-button material-icons is-liked bouncy">favorite</i>
                  <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                  <span class="like-overlay"></span>
                <% end %>
              </div>
            </div>
            <%= link_to "Buy", product.url, target: "blank", class: "buy-link"%>
            <%= cl_image_tag product.image_url, style: "border-radius:20px;"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


<!-- RECOMMENDED PRODUCTS -->
  <% if @recommendations.empty? %>
  <% else %>
    <div class="wf-container">
      <div class="page-title" style="text-align:center">
        <div>
          <h5>Recommended Products</h5>
        </div>
      </div>

      <div class="product-card">
        <% @recommendations.each do |product| %>
          <div class="wf-box">
            <div class="heart aos-init aos-animate" data-aos="fade-right">
              <div class="wrapper">
                <%= link_to product_path(product), method: :patch, class: "like-button" do %>
                  <i class="mdc-icon-button material-icons is-liked bouncy">favorite</i>
                  <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                  <span class="like-overlay"></span>
                <% end %>
              </div>
            </div>
            <%= link_to "Buy", product.url, target: "blank", class: "buy-link"%>
            <%= cl_image_tag product.image_url, style: "border-radius:20px;"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){

    $('.like-button').click(function(){
        $(this).toggleClass('is-active');
    })
})
</script>

<script src="app/assets/javascripts/responsive_waterfall.js"></script>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script>
</div>
</body>

