

<!-- NAVBAR -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

<!-- EDITORIAL CARDS -->
<!-- BRAND CARDS -->
<body>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= render "devise/shared/navbar" %>

  <div class="wf-container">
    <div class="page-title" style="text-align:center">
      <div>
        <h2><%= params[:query] %> BRANDS</h2>
        <h5>Find out what's new</h5>
      </div>
    </div>
    <div class="country-btn">
      <%= link_to "BACK", :back, class: "filter-btn" %>
    </div>
    <% @brands.each do |brand| %>
      <% brand.brand_images.each do |image| %>
        <div class="wf-box" data-aos="fade-right">
          <div class="heart" data-aos="fade-right">
            <div class="wrapper">
              <%= link_to brand_path(image.brand), method: :patch, class: "like-button" do%>
                <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                <i class="mdc-icon-button material-icons is-liked bouncy">favorite</i>
                <span class="like-overlay"></span>
              <% end %>
            </div>
          </div>
          <%= cl_image_tag image.url, style: "border-radius:20px;" %>
        </div>
      <% end %>
    <% end %>
  </div>

<a href="/pages/recs" id="recs-button" class="filter-btn" title="">Picks For You</a>


<script type="text/javascript">
  $(document).ready(function(){

    $('.like-button').click(function(){
        $(this).toggleClass('is-active');
    })

})
</script>
  <script src="app/assets/javascripts/responsive_waterfall.js"></script>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script>


</body>

  <!-- pinterest style -->
<!-- FOOTER -->
