<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<!-- NAVBAR -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

<!-- EDITORIAL CARDS -->
<!-- BRAND CARDS -->

<body>
  <!-- loading msg -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



 <!-- <a id="" data-toggle="tooltip" href="/" title="Discover">🌎</a> -->
<!-- <button type="button" class="btn btn-secondary myBtn" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  🌎
</button> -->
  <div class="wf-container">
    <a href="/pages/recs" class="recs-button picks-for-you-btn"  title="" data-aos="fade-right">Picks For You</a>
    <div class="collapse-nav">
      <%= render "devise/shared/navbar" %>
    </div>
    <div class="page-title" style="text-align:center">
      <div>
        <h2><%= params[:query] %> BRANDS</h2>
        <h5>Choose Your Favorites</h5>
      </div>
    </div>

    <div class="centered-cards">
      <% @randomized_images.each do |image| %>
        <div class="wf-box wf-box-2" data-aos="fade-right">
          <div class="heart" data-aos="fade-right">

            <div class="wrapper">
              <% if user_signed_in? && current_user.liked_brand_images.include?(image) %>

                <%= link_to brand_brand_image_path(image.brand, image), method: :patch, class: "like-button is-active" do%>
                    <i class="mdc-icon-button material-icons is-liked bouncy is-active">favorite</i>
                    <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                  <span class="like-overlay"></span>
                <% end %>

              <% else %>
                <%= link_to brand_brand_image_path(image.brand, image), method: :patch, class: "like-button" do%>
                  <i class="mdc-icon-button material-icons is-liked bouncy is-active">favorite</i>
                  <i class="mdc-icon-button material-icons not-liked bouncy">favorite_border</i>
                  <span class="like-overlay"></span>
                <% end %>

              <% end %>
            </div>
          </div>
          <%= cl_image_tag image.url, style: "border-radius:8px;" %>
        </div>
      <% end %>
    </div>
  </div>
<!-- button popup -->
<!-- <script type="text/javascript">
  $(window).scroll(function () {
  if ($(window).scrollTop() > $('body').height() / 0.5) {
    $('.recs-button').addClass('recs-hi');
  }
    if ($(window).scrollTop() < $('body').height() / 2) {
    $('.recs-button').removeClass('recs-hi');
  }
});
</script>
 -->

<!-- like button -->
<script type="text/javascript">
  $(document).ready(function(){
      let i = 0;
    $('.like-button').click(function(){
        $(this).toggleClass('is-active');
        i = i + 1;
        if (i >= 3) {
          $('.recs-button').addClass('recs-hi');
         // $('.recs-button').addClass('recs-hi');
        }
    })

})
</script>
  <script src="app/assets/javascripts/responsive_waterfall.js"></script>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });


 </script>



</body>

  <!-- pinterest style -->
<!-- FOOTER -->
