<!-- BRAND CARDS -->
<body>
  <%= render "devise/shared/navbar" %>

  <script src="app/assets/javascripts/responsive_waterfall.js"></script>
  <div style="display:flex;justify-content:space-evenly" >
  </div>



  <div class="wf-container">
    <div class="page-title" style="text-align:center">
      <div>
        <h2>ALL BRANDS</h2>
        <h5>Discover Brands Across The World</h5>
      </div>
    </div>

    <div class="country-btn">
      <%= link_to "BACK", :back, class: "filter-btn" %>
      <%= link_to "GO TO...", brands_path, class: "filter-btn" %>
    </div>

    <% @brands.each do |brand| %>
      <% if brand.brand_images.second.nil? %>
      <% else %>
        <div class="wf-box">
          <%= cl_image_tag brand.brand_images.second.url, style: "border-top-left-radius:20px;border-top-right-radius:20px;" %>
          <div class="content">
            <h3><%= brand.name %></h3>
            <h5><%= brand.country %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script>

<script src="app/assets/javascripts/responsive_waterfall.js"></script>
</body>


  <!-- pinterest style -->

